@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

.blue-line {
  width: 400px;
  height: 4px;
  background-color: #007bff;
  margin-top: 10px;
  margin-bottom: 30px;
}


.portfolio-card {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-card:hover {
  background-color: #efefef;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}


.portfolio-card .btn-primary {
  transition: background-color 0.3s ease;
}

.portfolio-card .btn-primary:hover {
  background-color: #3399ff;
}
